<!-- 放入头部的固定样式 -->
<div class="header-wrap">
	<h1></h1>
	<div class="right">
		<div class="inp">
			<input type="text" placeholder="请输入您要搜索的商品或店铺" />
			<a class="search"></a>
		</div>
		<div class="load">
			<a href="##">注册</a>
			<span>|</span>
			<a href="##">登录</a>
		</div>
		
	</div>
</div>
<!-- 导航 -->
<nav>
	<div class="wrap">
		<ul id="nav-li">
			<li><a href="##" class="a-hov">首页</a></li>
			<li><a href="##">萌物库</a></li>
			<li><a href="##">品牌库</a></li>
			<li><a href="##">二手铺</a></li>
			<li><a href="##">同袍社区</a></li>
		</ul>
		<a href="##" class="nav-inn"><span></span>店铺入驻</a>	
	</div>
</nav>